<div>
    <p>Sign in</p>
    <a href="<%= new_user_url %>">Don't have an account? Sign up. </a>
</div>


<form action="<%= session_url %>" method="POST">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

    <label for="user-email">email</label>
    <input type="text" id="user-email" name="user[email]">

    <label for="user-password">password</label>
    <input type="password" id="user-password" name="user[password]">

    <input type="submit" value="Submit">
</form>